<!DOCTYPE html>
<html lang="en-US">

<head>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/deleted.css">
</head>

<body>

    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="demo-header mdl-layout__header mdl-color-text--black">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">
                    <a href="/search">
                        <img id="logo" src="/img/puppy-logo.png" />
                    </a>PetRent</span>
                <div class="mdl-layout-spacer"></div>
            </div>
        </header>
    </div>

    <div class="container">
        <div class="mdl-grid">
            <div id="deleted-div" class="mdl-cell mdl-cell--12-col">
                <h4 class="text-center">Account Successfully Deleted</h4>
                <button id="create-account-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">Create New Account</button>
            </div>
        </div>
    </div>
</body>

</html>