<!DOCTYPE html>
<html lang="en-US">

<head>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/index.css">
</head>

<body>

    <div class="container">
        <div class="mdl-grid">
            <div id="sign-in-form" class="mdl-cell mdl-cell--6-col">
                <img src="../public/assets/img/puppy-logo.png" alt="puppy-logo" id="logo" />
                <h4 class="text-center">PetRent</h4>
                <form action="">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="Username">
                        <label class="mdl-textfield__label" for="Username">Username:</label>
                    </div>
                    <br />
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="Password">
                        <label class="mdl-textfield__label" for="sample3">Password:</label>
                    </div>
                    <button id="sign-in" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        Sign In
                    </button>
                </form>
                <a href="#" id="create">New user?</a>
            </div>
        </div>
    </div>

</body>

</html>