<!DOCTYPE html>
<html lang="en-US">

<head>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/register.css">
</head>

<body>

    <div class="container">
        <div class="mdl-grid">
            <div id="form-container" class="mdl-cell mdl-cell--6-col">
                <img src="/img/puppy-logo.png" alt="puppy-logo" id="logo" />
                <h4 class="text-center">PetRent</h4>
                <form id="register-form" action="">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="first-name">
                        <label class="mdl-textfield__label" for="first-name">First Name:</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="last-name">
                        <label class="mdl-textfield__label" for="last-name">Last Name:</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="text" id="reg-email">
                        <label class="mdl-textfield__label" for="reg-email">Email:</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="tel" id="phone">
                        <label class="mdl-textfield__label" for="phone">Phone:</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="password" id="reg-password">
                        <label class="mdl-textfield__label" for="reg-password">Password:</label>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <input class="mdl-textfield__input" type="password" id="confirm-pw">
                        <label class="mdl-textfield__label" for="confirm-pw">Confirm Password:</label>
                    </div>
                    <button id="register" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        Register
                    </button>
                </form>
                <a href="/auth/login" id="old-user">Have an account?</a>
            </div>
        </div>
    </div>

</body>
</html>

