<!DOCTYPE html>
<html lang="en-US">

<head>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/rent.css">
</head>

<body>

    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="demo-header mdl-layout__header mdl-color-text--black">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">
                    <a href="/search">
                        <img id="logo" src="/img/puppy-logo.png" />
                    </a>PetRent</span>
                <div class="mdl-layout-spacer"></div>
                
                <!-- Right aligned menu below button -->
                <button id="demo-menu-lower-right" class="mdl-button mdl-js-button mdl-button--icon">
                    <i class="material-icons">menu</i>
                </button>
                
                <ul class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect" for="demo-menu-lower-right">
                    <li id="search-pg-btn" class="mdl-menu__item">Search</li>
                    <li id="my-account-btn" class="mdl-menu__item">My Account</li>
                    <li id="sign-out-btn" class="mdl-menu__item">Sign Out</li>
                </ul>
            </div>
        </header>
    </div>

    <div class="container">
        <div class="mdl-grid">
            <div id="rent-div" class="mdl-cell mdl-cell--12-col">
                <div id="results-container">
                    
                    <div class="container">
                        <div class="mdl-grid">
                            <div id="pickup-div" class="mdl-cell mdl-cell--6-col">
                                <h4 class="text-center">I will pick up <span class="chosen-pet-name">{{this.name}}</span> on:</h4>

                                {{!-- DISPLAY PET INFO / PHOTO --}}
                                <div class="mdl-card--expand crop text-center">
                                    <img id="chosen-pet-photo" class="img-responsive" src=""
                                    />
                                </div>

                                {{!-- FORM FOR DATE,TIME AND LOCATION --}}
                                <form id="rent-form" action="">

                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <label for="pickup-date">Pickup Date:</label>
                                        <input id="pickup-date" class="form-control text-center" type="date" />
                                    </div>
                                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                        <label for="pickup-time">Pickup Time:</label>
                                        <input id="pickup-time" class="form-control text-center" type="time" />
                                    </div>
                                    
                                    <div id="dropoff-input-div" class="text-center">
                                        <h4 class="text-center">And drop <span id="chosen-pet-sex">{{this.sex}}</span> off at:</h4>
                                        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                                            <label for="dropoff-time">Dropoff Time:</label>
                                            <input id="dropoff-time" class="form-control text-center" type="time" />
                                        </div>
                                        <button id="set-pickup-btn" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                                            SET PLAYDATE
                                        </button>
                                    </div>
                                    
                                    
                                </form>
                                {{!-- END OF FORM --}}
                    
                                {{!-- confirm pickup modal --}}
                                <dialog class="mdl-dialog" id="confirm-pickup-modal">
                                    <h4 class="mdl-dialog__title">Confirm Info:</h4>
                                    <div id="pickup-modal__content" class="mdl-dialog__content">
                                        <strong>Pet: </strong><span class="chosen-pet-name">{{this.name}}</span>
                                        <br/> <strong>Pickup Date: </strong><span id="confm-pickup-date"></span>
                                        <br/> <strong>Pickup Time: </strong><span id="confm-pickup-time"></span>
                                        <br/> <strong>Pickup Location: </strong> Santa Ana Pet Rescue
                                        <br/> <strong>Dropoff Time: </strong><span id="confm-dropoff-time"></span>
                                    </div>
                                    <div class="mdl-dialog__actions">
                                        <button type="button" class="mdl-button close-modal">NO</button>
                                        <button id="confirm-pickup-btn" type="button" class="mdl-button">YES</button>
                                    </div>
                                </dialog>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <!-- jQuery CDN -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script>
        // getting the user's id via the payload from the token stored in localStorage (FRONTEND) so that we can make an HTTP request to access the user and display the info on route /api/user/:id
        var userInfo = {
            id: JSON.parse(window.atob(localStorage.getItem('token').split('.')[1])).id,
            firstName: JSON.parse(window.atob(localStorage.getItem('token').split('.')[1])).first,
            lastName: JSON.parse(window.atob(localStorage.getItem('token').split('.')[1])).last,
            email: JSON.parse(window.atob(localStorage.getItem('token').split('.')[1])).email,
            phone: JSON.parse(window.atob(localStorage.getItem('token').split('.')[1])).phone
        };

        console.log(userInfo);

        $(document).ready(function() {

            axios({
                headers: { "Authorization": "Bearer " + localStorage.getItem("token") },
                method: "GET",
                url: "/api/user/" + userInfo.id
            }).then(function(response) {
                console.log(response)
            })
                .catch(function(err) {
                    console.error(err);
                });

            $("#set-pickup-btn").on('click', (e) => {
                $("#confm-pickup-date").text($("#pickup-date").val());
                $("#confm-pickup-time").text($("#pickup-time").val());
                $("#confm-dropoff-time").text($("#dropoff-time").val());
            });

            $("#confirm-pickup-btn").on('click', (e) => {
                e.preventDefault();
                location.assign('/rented');
            });

            var dialog3 = document.querySelector('#confirm-pickup-modal');
            var showDialogButton = document.querySelector('#set-pickup-btn');

            if (!dialog3.showModal) {
                dialogPolyfill.registerDialog(dialog3);
            }
            showDialogButton.addEventListener('click', (e) => {
                e.preventDefault();
                dialog3.showModal();
            });

            dialog3.querySelector('.close-modal').addEventListener('click', function() {
                dialog3.close();
            });
        });
    </script>

</body>

</html>