<!DOCTYPE html>
<html lang="en-US">

<head>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/rent.css">
</head>

<body>

    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="demo-header mdl-layout__header mdl-color-text--black">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">
                    <a href="#">
                        <img id="logo" src="/img/puppy-logo.png" />
                    </a>PetRent</span>
                <div class="mdl-layout-spacer"></div>
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect" id="sign-out">
                    Sign Out
                </button>
            </div>
        </header>
    </div>

    <div class="container">
        <div class="mdl-grid">
            <div id="rent-div" class="mdl-cell mdl-cell--12-col">
                <h4 class="text-center">I will pick up my new friend...</h4>
                <div id="results-container">

                </div>
            </div>
        </div>
    </div>

</body>

</html>