<!DOCTYPE html>
<html lang="en-US">

<head>
    <!-- Custom CSS -->
    <link rel="stylesheet" type="text/css" href="/css/search.css">
</head>

<body>

    <div class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="demo-header mdl-layout__header mdl-color-text--black">
            <div class="mdl-layout__header-row">
                <span class="mdl-layout-title">
                    <a href="#">
                        <img id="logo" src="/img/puppy-logo.png" /> {{!-- </a>Hello, {{this.first_name}}</span> --}}
                </a>PetRent</span>
                <div class="mdl-layout-spacer"></div>
                <button class="mdl-button mdl-js-button mdl-js-ripple-effect" id="sign-out">
                    Sign Out
                </button>
            </div>
        </header>
    </div>

    <div class="container">
        <div class="mdl-grid">
            <div id="form" class="mdl-cell mdl-cell--8-col">
                <h4 class="text-center">My Furry Friend Should Be...</h4>
                <form id="new-user-form" action="">
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <label for="pet-type">Pet:</label>
                        <select id="pet-type" class="form-control">
                            <option value="dog">Dog</option>
                            <option value="cat" disabled>Cat</option>
                            <option value="rabbit" disabled>Rabbit</option>
                            <option value="bird" disabled>Bird</option>
                        </select>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <label for="pet-breed">Breed:</label>
                        <select id="pet-breed" class="form-control">
                            <option>Select</option>
                            <option>Siberian Husky</option>
                            <option>French Bulldog</option>
                            <option>English Bulldog</option>
                            <option>Shiba Inu</option>
                            <option>Corgi</option>
                        </select>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <label for="pet-age">Age:</label>
                        <select id="pet-age" class="form-control">
                            <option>Select</option>
                            <option>Baby</option>
                            <option>Young</option>
                            <option>Adult</option>
                            <option>Senior</option>
                        </select>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <label for="pet-sex">Sex:</label>
                        <select id="pet-sex" class="form-control">
                            <option>Select</option>
                            <option value="M">Male</option>
                            <option value="F">Female</option>
                        </select>
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <label for="zip-code">Zip Code:</label>
                        <input id="zip-code" class="form-control" />
                    </div>
                    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
                        <label for="pet-distance">Distance:</label>
                        <select id="pet-distance" class="form-control">
                            <option>Select</option>
                            <option>10 miles</option>
                            <option>25 miles</option>
                            <option>50 miles</option>
                            <option>100 miles</option>
                            <option>Anywhere</option>
                        </select>
                    </div>
                    <button id="search" class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                        Search
                    </button>
                </form>
            </div>
        </div>
    </div>

</body>

</html>