body {
    background: #3f1097;
    margin-bottom: 70px;
}

.mdl-layout__header {
    background: rgb(3, 244, 212);
    box-shadow: 0 2px 1px 1px black;
    position: relative;
    margin: 0;
    padding: 0;
    height: 70px;
}

#sign-out {
    font-weight: bold;
}

#account-div {
    position: relative;
    /* border: 5px solid rgba(0,0,0,.26); */
    border-radius: 10px;
    background: white;
    box-shadow: 2px 2px 2px 0px grey;
    margin: 140px auto 0;
    padding: 10px 40px 40px;
}

#logo {
    width: 50px;
}

.mdl-layout-title {
    margin-top: 15px;
    margin-left: -20px;
}

.mdl-layout-title a:hover {
    text-decoration: none;
}

.mdl-layout-title,
h4 {
    font-family: 'Sigmar One';
    margin-bottom: 10px;
}

#results-container {
    width: 100%;
    margin: 15px auto 20px 3.5%;
}