body {
    background: #3f1097;
    margin-bottom: 70px;
}

.mdl-layout__header {
    background: rgb(3, 244, 212);
    box-shadow: 0 2px 1px 1px black;
    position: relative;
    margin: 0;
    padding: 0;
    height: 70px;
}

.mdl-menu {
    width: 200px;
}

.mdl-menu__item {
    text-align: center;
}

#sign-out-btn {
    font-weight: bold;
}

#results-div {
    position: relative;
    /* border: 5px solid rgba(0,0,0,.26); */
    border-radius: 10px;
    background: white;
    box-shadow: 2px 2px 2px 0px grey;
    margin: 140px auto 0;
    padding: 10px 40px 40px;
}

#logo {
    width: 50px;
}

.mdl-layout-title {
    margin-top: 15px;
    margin-left: -20px;
}

.mdl-layout-title a:hover {
    text-decoration: none;
}

.mdl-layout-title,
h4 {
    font-family: 'Sigmar One';
    margin-bottom: 10px;
}

#results-container {
    width: 100%;
    margin: 15px auto 20px 3.3%;
}
/* SQUARE CARD */

.demo-card-square.mdl-card {
    border-radius: 10px;
    display: inline-block;
    margin: 20px;
    width: 280px;
    height: 370px;
}

.pet-link {
    color: black;
    text-decoration: none;
}

.pet-link:hover {
    /* color: rgb(3, 244, 212); */
    opacity: 0.8;
}

#pet-photo {
    width: 100%;
    height: 250px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: center / cover;
    overflow: hidden;
}

.content-div {
    margin-top: -20px;
    margin-left: 20px;
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
}

.name-div {
    position: relative;
    font-size: 24px;
    margin-bottom: -5px;
    padding-right: 15px;
    /* truncate super long names with ellipsis!! */
    /* https: //stackoverflow.com/questions/1199352/smart-way-to-shorten-long-strings-with-javascript */
    white-space: nowrap;
    width: 100%;                   /* IE6 needs any width */
    overflow: hidden;              /* "overflow" value must be different from  visible"*/ 
    -o-text-overflow: ellipsis;    /* Opera < 11*/
    text-overflow:    ellipsis;
}

.stats-div {
    line-height: 22px;
}

.mdl-dialog {
    width: 600px;
    z-index: 10;
}

.background {
    z-index: 9;
    color: grey;
    opacity: 0.5;
    height: 100%;
    width: 100%;
}

.close {
    background: none !important;
}

.close:hover {
    background: #ececec !important;
}

#rent-btn {
    background: #ececec;
}

/* 
.demo-card-square>.mdl-card__title {
    color: #fff;
    background: url('') bottom right 15% no-repeat;
} */