body {
    background: #3f1097;
}

.mdl-layout__header {
    background: rgb(3, 244, 212);
    box-shadow: 0 2px 1px 1px black;
    position: relative;
    margin: 0;
    padding: 0;
    height: 70px;
}

#sign-out {
    font-weight: bold;
}

#form {
    position: relative;
    /* border: 5px solid rgba(0,0,0,.26); */
    border-radius: 10px;
    background: white;
    box-shadow: 2px 2px 2px 0px grey;
    margin: 120px auto 0;
    padding: 10px 40px 80px;
}

#logo {
    width: 50px;
}

.mdl-layout-title {
    margin-top: 15px;
    margin-left: -20px;
}

.mdl-layout-title a:hover {
    text-decoration: none;
}

.mdl-layout-title,
h4 {
    font-family: 'Sigmar One';
    margin-bottom: 10px;
}

.mdl-textfield {
    margin-right: 12px;
}

#new-user-form {
    width: 100%;
    padding: 10px;
}

label {
    font-weight: normal;
}

#submit {
    position: absolute;
    right: 68px;
    bottom: 40px;
    background: rgb(3, 244, 212);
}

#submit:hover {
    background: rgb(0, 228, 197);
}

#create {
    position: absolute;
    right: 40px;
    bottom: 40px;
    text-decoration: underline;
    color: rgb(3, 169, 244);
    margin-top: 40px;
    font-size: 14px;
}

#create:hover {
    color: rgb(30, 154, 196)
}